{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        {% for post in data %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text"><small class="text-muted">Author: {{ post.Author.name }}</small></p>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            {% for cat in post.Category.all %}
                            <span class="badge badge-primary">{{ cat.name }}</span>
                            {% endfor %}
                        </div>
                        <div>
                            <a href="{% url 'edit_posts' post.id %}" class="btn btn-sm btn-warning mr-2">Edit</a>
                            <a href="{% url 'delete_posts' post.id %}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}